<p style="color: green"><%= notice %></p>

<div class="container" data-controller="gallery">
  <div class="hstack">
    <h2>All Photos</h2>
    <button class="btn btn-outline-primary ms-auto rounded-pill"
            data-bs-toggle="button"
            data-action="gallery#toggleSelecting"
            data-gallery-target="toggler">
      Select
    </button>
  </div>

  <div class="input-group mb-2">
    <%= select_tag 'group-selector',
                   nil,
                   class: 'form-select',
                   placeholder: 'Select groups...',
                   multiple: true,
                   data: { gallery_target: 'groupSelector' } %>
    <button class="btn btn-secondary"
            data-action="gallery#updateGroups">
      Add to test group
    </button>
  </div>

  <div class="row g-2 gallery" data-gallery-target="gallery">
    <% @photos.each do |photo| %>
      <div class="col-6 col-sm-4 col-md-2">
        <%= link_to photo, class: 'photo', data: { action: 'gallery#toggleSelect', sgid: photo.to_sgid_param } do %>
          <%= image_tag photo.asset.variant(:thumb), class: 'rounded' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "New photo", new_photo_path %>
