<p style="color: green"><%= notice %></p>

<div class="container"
     data-controller="gallery"
     data-gallery-selected-class="selected"
     data-gallery-selecting-class="selecting">

  <div class="hstack">
    <h2>All Photos</h2>
    <button class="btn btn-outline-primary ms-auto rounded-pill"
            data-bs-toggle="button"
            data-action="gallery#toggleSelectionMode">
      Select
    </button>
  </div>

  <div class="input-group">
    <%= select_tag 'group-selector',
                   nil,
                   class: 'form-select',
                   placeholder: 'Select groups...',
                   multiple: true,
                   data: { gallery_target: 'groupSelector' } %>
    <button class="btn btn-secondary"
            data-action="gallery#updateGroups">
      Add to test group
    </button>
  </div>

  <div class="row g-2 align-items-center gallery" data-gallery-target="galleryContainer">
    <% @photos.each do |photo| %>
      <div class="col-auto">
        <%= link_to photo, data: { action: 'gallery#select', sgid: photo.to_sgid_param } do %>
          <%= image_tag photo.asset.variant(:thumb), class: 'rounded-3' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "New photo", new_photo_path %>
