<!DOCTYPE html>
<html>
  <head>
    <title>FiveMin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "navbar", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="vh-100">
    <%= render 'partials/navbar' %>

    <div class="container mt-3 h-100">
      <%= yield %>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastContainer">
      <template id="toastTemplate">
        <div class="toast align-items-center border-0"
             role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body"></div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto"
                    data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </template>
    </div>
  </body>
</html>
